.home {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-top:30vh;
	width: 100%;

	@media only screen and (max-width: 576px) {
		margin-top:20vh;
	}

	h1 {
		font-size: 50px;
		margin: 40px;
		color: #000;
		font-family: 'Roboto Mono', monospace;
	}
}